{% extends 'core/base/base_web.html' %}
{% load static %}
{% load extras %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/teacher/list.css' %}">
{% endblock %}

{% block content %}

  <div class="projects-list-header d-flex justify-content-between align-items-center p-2">
    <div class="btn-group">
      <div>
        <a class="btn border btn-success" href="{% url 'import_teachers' %}">Add teachers(Bulk)</a>
      </div>
    </div>
    <div class="projects-title">Teacher's Directory</div>
    <div class="btn-group">
      <button
          type="button"
          id="filter-dropdown"
          style="border-radius: .25rem;"
          class="btn border dropdown-toggle js-filter-dropdown">
        Filter
      </button>
      <form id="filter-form" class="pt-3 pb-3 j-dropdown js-filter-form" method="get" onsubmit="return false;">
        <div class="container">
          <div class="form-group">
            <label for="last_name">Teacher last name</label>
            <select name="last_name" multiple class="form-control chosen-select-all"
                    title="Teacher last name" data-placeholder="">
              {% for last_name in last_names %}
                <option value="{{ last_name.0|upper }}">{{ last_name.0|upper }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="subjects">Subject</label>
            <select name="subjects" multiple class="form-control chosen-select-all" title="Subjects"
                    data-placeholder="">
              {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="button" style="background-color: #1072BA !important;" class="btn bg-app-blue text-white form-control js-apply-filters" value="Apply Filters">
        </div>
      </form>
    </div>
  </div>

  {#  Main content  #}
  <div>
    <table class="table table-striped table-bordered js-teachers-table" style="width:100%;">
      <thead>
      <tr>
        <th></th>
        <th>First name</th>
        <th>Last name</th>
        <th style="width:20%">Email</th>
        <th>Phone</th>
        <th>Room number</th>
        <th style="width:30%;">Subjects</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

{% endblock %}


{% block extra_scripts %}
  <script src="{% static 'js/teacher-directory.js' %}"></script>
{% endblock %}
